h3 {
	margin: 20px 0 10px 0;
}

.left {
	width: 440px;
	float: left;
	margin-right: 20px;
}

.right {
	width: 440px;
	float: left;
}

.description p {
	margin: 0.5em 0 0 0;
}

table.details {
	margin: 1em;
}

table.details th {
	font-weight: bold;
	text-align: right;
	padding-right: 1em;
}

.maintainers li {
	list-style-type: disc;
	margin-left: 2em;
}

.comments .comment {
	margin: 0 0 1em 0;
}
.comments .comment-title {
	font-size: 12px;
}
.comments .comment-content {
	font-size: 12px;
}
.comments .comment-content p {
	margin:  0 0 0.5em 0;
}

.comments .form-field {
	margin-bottom: 0.5em;
}

.comments textarea {
	width: 97%;
}
