h1 {
	font-size:1.6em;
	margin-bottom:1em;
}
h2 {
	font-size:1.4em;
	margin-bottom:1em;
}
p {
	margin-bottom:0.8em;
}
.featurebox {
	background-color:#eee;
	position:relative;
	-moz-border-radius:10px 10px 0 0;
}
.col {
	width:220px;
	padding:10px 0;
}
.three_col {
	width:600px;
	padding:10px 0;
}

.right {
	float:right;
	padding-right:0px;
}
.left {
	float:left;
	padding-left:0px;
}

.featurebox h2 {
	margin:-10px 0 0;
	background-color:#00aa4f;
	color:#FFF;
	-moz-border-radius:10px 10px 0 0;
	padding:8px;
	margin-bottom:1em;
}